*{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#menu{
    text-align: center;
}

#menu li {
    display: inline;
    padding: 8px;
    
}

#menu li a {
    text-decoration: none;
    color:  black;
    font-size: 19px;
}

#menu li a:hover {
    color: grey;
}

form{
    font-size: 22px;
    text-align: center;
}

h1{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform:capitalize;
    margin: 40px 3px 40px 3px;
    
}

h2{
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    text-transform:capitalize;
    margin: 0px 0px 30px 0px;
}