/*pagina toda*/
*{
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,body{
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.center{

    text-align: left;
    margin-left: 40px ;
}

.logo{
    width: 50%;
    text-align: left;
}

#menu{
    text-align: right;
    margin-top: -140px;
    margin-right: 20px;
    
}

#menu li {
    display: inline;
    padding: 8px;
    
}

#menu li a {
    text-decoration: none;
    color:  black;
    font-size: 19px;
}

#menu li a:hover {
    color: grey;
}

section.sobre{
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    bottom: -450px;
    right: -500px;
    width: 1200px;
    height: 1200px;
    border-radius: 50%;
    top: -200px;
    background-color: cornflowerblue;
    
}

.social-media{
    position: absolute;
    right: 510px;
    top: 400px;
}

.social-media img{
    display: block;
    width: 60px;
    margin: 20px 0;
}

.texto-sobre{
    margin-top: 250px;
    text-align: left;
}

.texto-sobre h1{
    font-size: 50px;
    text-align: left;
}

.texto-sobre p{
    margin: 20px 0;
    color: black;
    font-size: 20px;
    font-weight: bold;
    max-width: 1500px;
    text-align: left;
    line-height: 38px;
}



